@media screen and (max-width: 450px) {
  .header{
    height: auto;}
  .topheading{

    font-size:20px;
}
  .navbar{
    padding:0.5rem 1rem
   }
   .modepic{
    top: 10px;
    right: 80px;
   }
  .Introduction {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .background-pic{
    height: 42vh;
  }
  .topIntro{
    font-size: 12px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 2px;
  }
  .topIntro h1{
    font-size: 1rem;
  }
  .topIntro h2{
    font-size: 1rem;
  }
  .typedtext{
    font-size: 20px;
  }
  
  .Intro-text{
    margin: 20px 0px;
}
.Intro-img img {
  width: 280px;
  height: 190px;
  border-radius: 50px;
}
  .text {
    font-size: 0.9rem;
  }
  .career {
    font-size: 30px;
  }
  .line {
    display: none;
  }
  .values {
    flex-direction: column;
  }
  .tools{
    margin-top: 0px;
  }
  .careerbox {
    height: 370px;
    margin-top: 20px;
  }
  .main2 {
    margin-top: 10px;
  }
  .skills {
    grid-template-columns: 1fr;
  }
  .card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
  }
  .default-pic{
    width: 130px;
    height: 100px;
  }
  .level2projects{
    flex-direction: column;
  }
 
  
}
@media screen and (max-width: 1300px) and (min-width: 450px) {
  .background-pic{
    height: 50vh;
  }
  .Introduction {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .topIntro{
    font-size: 12px;
  }
  .Intro-img img {
    width: 360px;
    height: 250px;
    border-radius: 50px;
  }
  .text {
    font-size: 0.8rem;
}
.Intro-text{
  margin: 0px 20px;
}

.tools{
    margin-top: 80px;
}
.careerbox{
    padding: 0px 10px;
    height: 340px;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
  }
  .card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23rem;
  }
  .default-pic{
    width: 130px;
    height: 100px;
  }
  .level2projects{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
